<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>G&auml;stebuch</title>
    </h:head>
    <h:body>
        <h:form>
            <h:outputLabel for="name">Name</h:outputLabel>
            <br />
            <h:inputText id="name" value="#{index.name}"></h:inputText>
            <br />
            <br />
            <h:outputLabel for="body">Nachricht</h:outputLabel>
            <br />
            <h:inputTextarea id="body" value="#{index.body}" cols="40" rows="5"></h:inputTextarea>
            <br />
            <br />
            <h:commandButton action="#{index.send}" value="senden"></h:commandButton>
        </h:form>
        <ui:repeat value="#{index.entriesOrderNewOld}" var="entry">
            <div>
                <p>
                    <b>#{entry.name}</b>
                    <br />
                    <span>#{entry.body}</span>
                    <br />
                    <br />
                    <span>#{entry.displayTime}</span>
                </p>
            </div>
        </ui:repeat>
    </h:body>
</html>

