<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h2>Wähle deinen Look</h2>
        <h:form>
            <h:commandLink action="step2">
                <h:graphicImage url="assets/img/d.png" alt="Look #1" width="360" height="640" />
                <f:setPropertyActionListener target="#{avatarConfigurator.avatarSkin}" value="BLACK" />
            </h:commandLink>
            <h:commandLink action="step2">
                <h:graphicImage url="assets/img/h.png" alt="Look #1" width="360" height="640" />
                <f:setPropertyActionListener target="#{avatarConfigurator.avatarSkin}" value="WHITE" />
            </h:commandLink>
        </h:form>
    </h:body>
</html>

