<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h2>Resultat</h2>
        <table>
            <tr>
                <td>
                    Hautfarbe:
                </td>
                <td>
                    #{avatarConfigurator.avatarSkin}
                </td>
            </tr>
            <tr>
                <td>
                    Augenfarbe:
                </td>
                <td>
                    #{avatarConfigurator.avatarEyeColor}
                </td>
            </tr>
        </table>
    </h:body>
</html>

