<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <h:graphicImage url="assets/img/#{avatarConfigurator.img}.png" alt="Look #1" width="360" height="640" />
            <h:selectOneRadio value="#{avatarConfigurator.avatarEyeColorList}">
                <f:selectItems value="#{avatarConfigurator.avatarEyeColorList}"/>
            </h:selectOneRadio>
            <h:commandButton action="step3" value="weiter"></h:commandButton>
        </h:form>
    </h:body>
</html>

