<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Form</title>
    </h:head>
    <h:body>
        <h:form>
		<h3>Adding Form Components</h3>
		<h:panelGrid columns="3">
			<h:outputLabel for="vorname">Vorname:</h:outputLabel>
			<h:inputText value="#{form.vorname}" id="vorname"></h:inputText>
			<br />
			<br />

			<h:outputLabel for="nachname">Nachname:</h:outputLabel>
                        <h:inputText value="#{form.nachname}" id="nachname"></h:inputText>
			<br />
                        <br />
			<h:commandButton value="Senden"></h:commandButton>
		</h:panelGrid>
	</h:form>
        <br />
        <h1>Details</h1>
        #{form.vorname} #{form.nachname}
    </h:body>
</html>

