.background{
    background-image: url('/Samichlaus/assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.btn-primary{
    color:white !important;
    cursor:pointer;
}

#item{
    margin-bottom: 30px;
}