<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h1>Schritt 5: #{sessions.id}</h1>
        <h3>Ich weiss ihre Daten immer noch:</h3>
        <table>
            <tr>
                <td>Name:</td>
                <td>#{sessions.name}</td>
            </tr>
            <tr>
                <td>Vorname:</td>
                <td>#{sessions.surname}</td>
            </tr>
        </table>
    </h:body>
</html>

