<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h1>Schritt 3: #{sessions.id}</h1>
        <h3>Geben Sie Ihren Vorname ein:</h3>
        <h:form>
            <h:inputText value="#{sessions.surname}"></h:inputText><br />
            <br />
            <h:commandButton action="step4" value="Senden"></h:commandButton>
        </h:form>
        
    </h:body>
</html>

