<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body style="background:#{index.hex}">
        <div style="width:400px;margin: 0px auto 0px auto;">
            <h:form>
                <div style="width:40%;display:inline-block;">
                    <p>Rot</p>
                    <h:inputText value="#{index.r}"></h:inputText>
                    <br />
                    <p>Gr&uuml;n</p>
                    <h:selectOneMenu value="#{index.g}">
                        <f:selectItems value="#{index.RGBValues}" />
                    </h:selectOneMenu>
                </div>
                <div style="width:20%;display:inline-block;padding-left: 30px;">
                    <p>Blau</p>
                    <h:selectOneListbox value="#{index.b}" style="height: 100px;">
                        <f:selectItems value="#{index.RGBValues}" />
                    </h:selectOneListbox>
                </div>
                <br />
                <br />
                <h:commandButton value="Senden"></h:commandButton>
            </h:form>
        </div>
    </h:body>
</html>

